#homepage{
    align-content: center;
    background-image: url("arrows.png");
    background-repeat: repeat-y;
    max-width: 1100px;
    background-color: rgb(250, 239, 223);
    
}

#contact{
    background-image: url("pattern3.png");
    background-repeat: no-repeat;
    max-width: 1100px;
    background-color:  rgb(250, 239, 223);
    align-content: center;
}

div{
    
    margin-top:0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color:darkgreen;
    font-size: 40px;
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
    
    
    font-family:'Handlee', cursive;
}
  
#second{
    
    
    text-align: center;
    
    font-size: 30px;
    
    
    font-family: 'Fredoka One', cursive;
}


table{
    padding-bottom: 10px;;
    padding-left:10px;
    padding-right:10px;
    line-height: 1.5;
    border-radius: 25px;
    margin-left:auto;
    margin-right: auto;
    background-color:rgb(176, 231, 236);
    font-family:'Handlee', cursive;

}
#pic
{
    border-radius: 25px;
    border:solid;
    border-color:rgb(20, 19, 19);
    background: rgb(11, 12, 11);
    margin:auto;
    padding: 15px 10px;
}

#education{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    
    font-size: 30px;
}

.container, .containerA,.containerB{
    font-family: 'Fredoka One', cursive;
    color:black;
    
}
.containerA {
    font-size: 15px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #90e49b;
    margin: 5px;
    border-radius: 500px;
}

.containerB {
        font-size: 15px;
        display: inline-block;
        width: 350px;
        height: 350px;
        background: #d1ee8d;
        margin: 5px;
        border-radius: 200px;
}
.button, .upload {
    background:rgb(175, 150, 233);
    font-family:'Handlee', cursive;
    font-size:20px;
    border-radius: 10px;

   
}

#submit{
    background:rgb(175, 150, 233);
    font-family:'Handlee', cursive;
    font-size:20px;
    border-radius: 10px;    
}

form{
  display: table;
  align-content: center;
}

label{
    font-family:'Handlee', cursive;
    display: inline-block;
    width: 100px;
    text-align: left;
    
}
input{
  text-align:right;
  border-radius: 5px;
}

#firstname #lastname #phone #email #address #city #postalcode{
    align-content: center;
}

legend{
    font-family: 'Handlee' cursive;
    font-size:25px;
}




